* {
box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.wrapper{
	max-width: 1200px;
	margin: auto;
}
.mainNav ul{
	list-style-type: none;
	padding: 0;
}
.logo img{
	width: 80px;
	height: auto;
}
header{
	position: relative;
	margin: 30px 0px;
	padding: 20px;
	color: #000;
}
.mainNav{
	position: absolute;
	top: 0;
	right: 0;
}
ul li{
	float: left;
	margin: 20px 30px;
	
	
}
ul li a{
	text-decoration: none;
	color: white;
}
body{
	background: url(../img/pexels-photo-411987.jpeg) center top fixed;
	min-height: 1200px;
	color: #FFFFFF;
}
.mainNav ul li a{
	padding: 20px;
	border: 1px solid  transparent;
	transition: color .5s,border .5s;
}
.mainNav ul li a:hover{
	color: #80FFFF;
	border: 1px solid #FFFFFF;
}
h2,p{
	color: white;
}
h2{
	letter-spacing:10px;
	margin: 50px 0px;
}
main section{
	margin: 50px 0px;
}
main section h2{
	margin-bottom: 0px;
}
.fav li{
	float: left;
	width: 160px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background-color:rgba(100,100,200,.6);
	margin: 10px 20px 0px 0px;
	cursor: pointer;
	border-radius: 5px;
	transition: background .5s,border-radius .5s;
}
.fav li:hover{
	border-radius: 0px;
	background-color:rgba(100,100,200,.8);
}
.fav li{
	list-style-type: none;
	padding: 0;
}
